.listProduct {
  padding: 1rem;
  background-color: rgb(232, 232, 232);

  
  h4 {
    text-transform: capitalize;
    margin: 1rem;
  }

  .product {
    column-count: 2;

    .content_image {
      break-inside: avoid;
      float: none;
      padding-bottom: 1rem;
      
    }
  }

  @media screen and (min-width: 600px) {
    .product {     
      padding: 0 5rem 0 5rem;
     
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
     
      .content_image {
        display: flex;
        padding-bottom: 0;
      }
    }
  }
}
